USE [master]
GO
/****** Object:  Database [OECS]    Script Date: 05/10/2026 5:15:03 PM ******/
CREATE DATABASE [OECS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OECS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\OECS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OECS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\OECS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OECS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OECS]
GO
/****** Object:  Table [dbo].[ADDRESSBOOK]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESSBOOK](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[recipient_name] [nvarchar](100) NOT NULL,
	[phone_number] [varchar](20) NOT NULL,
	[address_line] [nvarchar](max) NOT NULL,
	[is_default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTRIBUTE]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTRIBUTE](
	[attribute_id] [int] IDENTITY(1,1) NOT NULL,
	[attribute_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](100) NOT NULL,
	[logo_url] [varchar](2048) NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART_ITEMS]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART_ITEMS](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[sku_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[parent_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COD_SETTLEMENTS]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COD_SETTLEMENTS](
	[settlement_id] [int] IDENTITY(1,1) NOT NULL,
	[partner_id] [int] NOT NULL,
	[total_cod_amount] [decimal](18, 2) NOT NULL,
	[settlement_date] [datetime2](7) NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[settlement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[address_id] [int] NOT NULL,
	[shipping_partner_id] [int] NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[shipping_fee] [decimal](18, 2) NULL,
	[created_at] [datetime2](7) NULL,
	[order_status] [varchar](30) NULL,
	[payment_method] [varchar](20) NULL,
	[payment_status] [varchar](30) NULL,
	[payment_expires_at] [datetime2](7) NULL,
	[recipient_name] [nvarchar](100) NULL,
	[recipient_phone] [varchar](20) NULL,
	[shipping_address] [nvarchar](max) NULL,
	[discount_amount] [decimal](18, 2) NULL,
	[stock_restored_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_ITEM]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_ITEM](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[sku_id] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_STATUS_HISTORY]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_STATUS_HISTORY](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_REFUND]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_REFUND](
	[refund_id] [bigint] IDENTITY(1,1) NOT NULL,
	[transaction_id] [bigint] NOT NULL,
	[refund_amount] [decimal](18, 2) NOT NULL,
	[refund_status] [varchar](30) NOT NULL,
	[provider_refund_id] [varchar](150) NULL,
	[reason] [nvarchar](500) NULL,
	[requested_at] [datetime2](7) NOT NULL,
	[completed_at] [datetime2](7) NULL,
 CONSTRAINT [PK_PAYMENT_REFUND] PRIMARY KEY CLUSTERED 
(
	[refund_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_TRANSACTION]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_TRANSACTION](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[payment_method] [varchar](20) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[transaction_code] [varchar](100) NOT NULL,
	[provider_transaction_id] [varchar](150) NULL,
	[status] [varchar](30) NOT NULL,
	[provider_response_code] [varchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[completed_at] [datetime2](7) NULL,
 CONSTRAINT [PK_PAYMENT_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
	[product_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_REVIEWS]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_REVIEWS](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_item_id] [int] NOT NULL,
	[sku_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_SKU]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_SKU](
	[sku_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[sku_code] [varchar](100) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[stock_quantity] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[sku_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_SPECIFICATION]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_SPECIFICATION](
	[product_id] [int] NOT NULL,
	[attribute_id] [int] NOT NULL,
	[value] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE_ORDER_ITEMS]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_ORDER_ITEMS](
	[po_item_id] [int] IDENTITY(1,1) NOT NULL,
	[po_id] [int] NOT NULL,
	[sku_id] [int] NOT NULL,
	[unit_cost] [decimal](18, 2) NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[po_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE_ORDERS]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_ORDERS](
	[po_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_id] [int] NOT NULL,
	[total_cost] [decimal](18, 2) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[po_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEW_IMAGES]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEW_IMAGES](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[review_id] [int] NOT NULL,
	[image_url] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHIPPING_PARTNER]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIPPING_PARTNER](
	[partner_id] [int] IDENTITY(1,1) NOT NULL,
	[partner_name] [nvarchar](100) NOT NULL,
	[contact_phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[partner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[department] [nvarchar](100) NULL,
	[position] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIERS]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIERS](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [nvarchar](150) NOT NULL,
	[contact_email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLES]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLES](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOUCHER]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUCHER](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[min_order_value] [decimal](18, 2) NULL,
	[valid_from] [datetime2](7) NULL,
	[valid_to] [datetime2](7) NULL,
	[discount_type] [varchar](20) NOT NULL,
	[discount_value] [decimal](18, 2) NOT NULL,
	[max_discount] [decimal](18, 2) NULL,
	[usage_limit] [int] NULL,
	[per_user_limit] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOUCHER_USAGES]    Script Date: 05/10/2026 5:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUCHER_USAGES](
	[usage_id] [int] IDENTITY(1,1) NOT NULL,
	[voucher_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[used_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[usage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADDRESSBOOK] ON 

INSERT [dbo].[ADDRESSBOOK] ([address_id], [user_id], [recipient_name], [phone_number], [address_line], [is_default]) VALUES (1, 3, N'Trần Phát', N'0903333333', N'123 Đường 3/2, Phường Xuân Khánh, Quận Ninh Kiều, Cần Thơ', 1)
INSERT [dbo].[ADDRESSBOOK] ([address_id], [user_id], [recipient_name], [phone_number], [address_line], [is_default]) VALUES (2, 3, N'Trần Phát (Văn phòng)', N'0903333333', N'456 Nguyễn Văn Cừ, Phường An Khánh, Ninh Kiều, Cần Thơ', 0)
INSERT [dbo].[ADDRESSBOOK] ([address_id], [user_id], [recipient_name], [phone_number], [address_line], [is_default]) VALUES (3, 4, N'Nguyễn Thị Lan', N'0904444444', N'789 Lê Duẩn, Quận 1, TP. Hồ Chí Minh', 1)
SET IDENTITY_INSERT [dbo].[ADDRESSBOOK] OFF
GO
SET IDENTITY_INSERT [dbo].[ATTRIBUTE] ON 

INSERT [dbo].[ATTRIBUTE] ([attribute_id], [attribute_name]) VALUES (1, N'Màn hình')
INSERT [dbo].[ATTRIBUTE] ([attribute_id], [attribute_name]) VALUES (2, N'RAM')
INSERT [dbo].[ATTRIBUTE] ([attribute_id], [attribute_name]) VALUES (3, N'Dung lượng lưu trữ')
SET IDENTITY_INSERT [dbo].[ATTRIBUTE] OFF
GO
SET IDENTITY_INSERT [dbo].[BRAND] ON 

INSERT [dbo].[BRAND] ([brand_id], [brand_name], [logo_url]) VALUES (1, N'Apple', N'https://cdn.oecs.com/brands/apple.png')
INSERT [dbo].[BRAND] ([brand_id], [brand_name], [logo_url]) VALUES (2, N'Samsung', N'https://cdn.oecs.com/brands/samsung.png')
INSERT [dbo].[BRAND] ([brand_id], [brand_name], [logo_url]) VALUES (3, N'Lenovo', N'https://cdn.oecs.com/brands/lenovo.png')
SET IDENTITY_INSERT [dbo].[BRAND] OFF
GO
SET IDENTITY_INSERT [dbo].[CART] ON 

INSERT [dbo].[CART] ([cart_id], [user_id], [created_at]) VALUES (1, 3, CAST(N'2026-09-29T10:30:19.5100000' AS DateTime2))
INSERT [dbo].[CART] ([cart_id], [user_id], [created_at]) VALUES (2, 4, CAST(N'2026-09-29T10:30:19.5100000' AS DateTime2))
INSERT [dbo].[CART] ([cart_id], [user_id], [created_at]) VALUES (3, 1, CAST(N'2026-09-30T21:56:41.1666667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CART] OFF
GO
SET IDENTITY_INSERT [dbo].[CART_ITEMS] ON 

INSERT [dbo].[CART_ITEMS] ([cart_item_id], [cart_id], [sku_id], [quantity]) VALUES (1, 1, 2, 3)
INSERT [dbo].[CART_ITEMS] ([cart_item_id], [cart_id], [sku_id], [quantity]) VALUES (2, 2, 4, 1)
INSERT [dbo].[CART_ITEMS] ([cart_item_id], [cart_id], [sku_id], [quantity]) VALUES (3, 4, 4, 1)
SET IDENTITY_INSERT [dbo].[CART_ITEMS] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([category_id], [category_name], [parent_id]) VALUES (1, N'Điện thoại & Thiết bị di động', NULL)
INSERT [dbo].[CATEGORY] ([category_id], [category_name], [parent_id]) VALUES (2, N'Máy tính & Laptop', NULL)
INSERT [dbo].[CATEGORY] ([category_id], [category_name], [parent_id]) VALUES (3, N'Smartphone', 1)
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[COD_SETTLEMENTS] ON 

INSERT [dbo].[COD_SETTLEMENTS] ([settlement_id], [partner_id], [total_cod_amount], [settlement_date], [status]) VALUES (1, 1, CAST(27530000.00 AS Decimal(18, 2)), CAST(N'2026-09-29T10:30:19.5300000' AS DateTime2), N'COMPLETED')
INSERT [dbo].[COD_SETTLEMENTS] ([settlement_id], [partner_id], [total_cod_amount], [settlement_date], [status]) VALUES (2, 2, CAST(29990000.00 AS Decimal(18, 2)), CAST(N'2026-09-29T10:30:19.5300000' AS DateTime2), N'PENDING')
SET IDENTITY_INSERT [dbo].[COD_SETTLEMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDER] ON 

INSERT [dbo].[ORDER] ([order_id], [user_id], [address_id], [shipping_partner_id], [total_amount], [shipping_fee], [created_at], [order_status], [payment_method], [payment_status], [payment_expires_at], [recipient_name], [recipient_phone], [shipping_address], [discount_amount], [stock_restored_at]) VALUES (1, 3, 1, 1, CAST(27530000.00 AS Decimal(18, 2)), CAST(40000.00 AS Decimal(18, 2)), CAST(N'2026-09-29T10:30:19.5200000' AS DateTime2), N'COMPLETED', NULL, N'UNKNOWN', NULL, N'Trần Phát', N'0903333333', N'123 Đường 3/2, Phường Xuân Khánh, Quận Ninh Kiều, Cần Thơ', NULL, NULL)
INSERT [dbo].[ORDER] ([order_id], [user_id], [address_id], [shipping_partner_id], [total_amount], [shipping_fee], [created_at], [order_status], [payment_method], [payment_status], [payment_expires_at], [recipient_name], [recipient_phone], [shipping_address], [discount_amount], [stock_restored_at]) VALUES (2, 4, 3, 2, CAST(29990000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-09-29T10:30:19.5200000' AS DateTime2), N'SHIPPING', NULL, N'UNKNOWN', NULL, N'Nguyễn Thị Lan', N'0904444444', N'789 Lê Duẩn, Quận 1, TP. Hồ Chí Minh', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ORDER] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDER_ITEM] ON 

INSERT [dbo].[ORDER_ITEM] ([order_item_id], [order_id], [sku_id], [price], [quantity]) VALUES (1, 1, 1, CAST(27990000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[ORDER_ITEM] ([order_item_id], [order_id], [sku_id], [price], [quantity]) VALUES (2, 2, 3, CAST(29990000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[ORDER_ITEM] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDER_STATUS_HISTORY] ON 

INSERT [dbo].[ORDER_STATUS_HISTORY] ([status_id], [order_id], [status], [updated_at]) VALUES (1, 1, N'Pending', CAST(N'2026-09-29T10:30:19.5233333' AS DateTime2))
INSERT [dbo].[ORDER_STATUS_HISTORY] ([status_id], [order_id], [status], [updated_at]) VALUES (2, 1, N'Shipping', CAST(N'2026-09-29T10:30:19.5233333' AS DateTime2))
INSERT [dbo].[ORDER_STATUS_HISTORY] ([status_id], [order_id], [status], [updated_at]) VALUES (3, 1, N'Completed', CAST(N'2026-09-29T10:30:19.5233333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ORDER_STATUS_HISTORY] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

INSERT [dbo].[PRODUCT] ([product_id], [category_id], [brand_id], [product_name], [description], [created_at]) VALUES (1, 3, 1, N'iPhone 15 Pro', N'Điện thoại flagship cao cấp vỏ Titan từ Apple', CAST(N'2026-09-29T10:30:19.4966667' AS DateTime2))
INSERT [dbo].[PRODUCT] ([product_id], [category_id], [brand_id], [product_name], [description], [created_at]) VALUES (2, 3, 2, N'Samsung Galaxy S24 Ultra', N'Điện thoại cao cấp tích hợp Galaxy AI', CAST(N'2026-09-29T10:30:19.4966667' AS DateTime2))
INSERT [dbo].[PRODUCT] ([product_id], [category_id], [brand_id], [product_name], [description], [created_at]) VALUES (3, 4, 3, N'Lenovo LOQ 15', N'Laptop gaming/đồ họa hiệu năng cao trong tầm giá', CAST(N'2026-09-29T10:30:19.4966667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_REVIEWS] ON 

INSERT [dbo].[PRODUCT_REVIEWS] ([review_id], [user_id], [order_item_id], [sku_id], [rating], [comment], [created_at]) VALUES (1, 3, 1, 1, 5, N'Hàng giao cực nhanh tại Cần Thơ, đóng gói cẩn thận, máy chuẩn mới 100%!', CAST(N'2026-09-29T10:30:19.5300000' AS DateTime2))
INSERT [dbo].[PRODUCT_REVIEWS] ([review_id], [user_id], [order_item_id], [sku_id], [rating], [comment], [created_at]) VALUES (2, 4, 2, 3, 4, N'Điện thoại mượt, camera chụp đêm rất nét nhưng pin hơi nhanh tụt.', CAST(N'2026-09-29T10:30:19.5300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PRODUCT_REVIEWS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_SKU] ON 

INSERT [dbo].[PRODUCT_SKU] ([sku_id], [product_id], [sku_code], [price], [stock_quantity], [created_at]) VALUES (1, 1, N'IP15P-128-BLK', CAST(27990000.00 AS Decimal(18, 2)), 15, CAST(N'2026-09-29T10:30:19.5066667' AS DateTime2))
INSERT [dbo].[PRODUCT_SKU] ([sku_id], [product_id], [sku_code], [price], [stock_quantity], [created_at]) VALUES (2, 1, N'IP15P-256-SLV', CAST(30990000.00 AS Decimal(18, 2)), 10, CAST(N'2026-09-29T10:30:19.5066667' AS DateTime2))
INSERT [dbo].[PRODUCT_SKU] ([sku_id], [product_id], [sku_code], [price], [stock_quantity], [created_at]) VALUES (3, 2, N'SS-S24U-256-GRY', CAST(29990000.00 AS Decimal(18, 2)), 20, CAST(N'2026-09-29T10:30:19.5066667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PRODUCT_SKU] OFF
GO
INSERT [dbo].[PRODUCT_SPECIFICATION] ([product_id], [attribute_id], [value]) VALUES (1, 1, N'6.1 inch Super Retina XDR OLED')
INSERT [dbo].[PRODUCT_SPECIFICATION] ([product_id], [attribute_id], [value]) VALUES (1, 4, N'Apple A17 Pro')
INSERT [dbo].[PRODUCT_SPECIFICATION] ([product_id], [attribute_id], [value]) VALUES (2, 1, N'6.8 inch Dynamic AMOLED 2X')
GO
SET IDENTITY_INSERT [dbo].[PURCHASE_ORDER_ITEMS] ON 

INSERT [dbo].[PURCHASE_ORDER_ITEMS] ([po_item_id], [po_id], [sku_id], [unit_cost], [quantity]) VALUES (1, 1, 1, CAST(24000000.00 AS Decimal(18, 2)), 10)
INSERT [dbo].[PURCHASE_ORDER_ITEMS] ([po_item_id], [po_id], [sku_id], [unit_cost], [quantity]) VALUES (2, 2, 4, CAST(18000000.00 AS Decimal(18, 2)), 10)
SET IDENTITY_INSERT [dbo].[PURCHASE_ORDER_ITEMS] OFF
GO
SET IDENTITY_INSERT [dbo].[PURCHASE_ORDERS] ON 

INSERT [dbo].[PURCHASE_ORDERS] ([po_id], [supplier_id], [total_cost], [created_at]) VALUES (1, 1, CAST(240000000.00 AS Decimal(18, 2)), CAST(N'2026-09-29T10:30:19.5400000' AS DateTime2))
INSERT [dbo].[PURCHASE_ORDERS] ([po_id], [supplier_id], [total_cost], [created_at]) VALUES (2, 2, CAST(180000000.00 AS Decimal(18, 2)), CAST(N'2026-09-29T10:30:19.5400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PURCHASE_ORDERS] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([role_id], [role_name], [description]) VALUES (1, N'Admin', N'Quản trị viên hệ thống - Toàn quyền')
INSERT [dbo].[ROLES] ([role_id], [role_name], [description]) VALUES (2, N'Staff', N'Nhân viên vận hành và xử lý đơn hàng')
INSERT [dbo].[ROLES] ([role_id], [role_name], [description]) VALUES (3, N'Customer', N'Khách hàng mua sắm')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[SHIPPING_PARTNER] ON 

INSERT [dbo].[SHIPPING_PARTNER] ([partner_id], [partner_name], [contact_phone]) VALUES (1, N'Giao Hàng Nhanh (GHN)', N'19001201')
INSERT [dbo].[SHIPPING_PARTNER] ([partner_id], [partner_name], [contact_phone]) VALUES (2, N'Viettel Post', N'19008095')
INSERT [dbo].[SHIPPING_PARTNER] ([partner_id], [partner_name], [contact_phone]) VALUES (3, N'Giao Hàng Tiết Kiệm (GHTK)', N'18006092')
SET IDENTITY_INSERT [dbo].[SHIPPING_PARTNER] OFF
GO
SET IDENTITY_INSERT [dbo].[STAFF] ON 

INSERT [dbo].[STAFF] ([staff_id], [user_id], [department], [position]) VALUES (1, 2, N'Phòng Vận Hành', N'Chuyên viên kiểm duyệt đơn')
SET IDENTITY_INSERT [dbo].[STAFF] OFF
GO
SET IDENTITY_INSERT [dbo].[SUPPLIERS] ON 

INSERT [dbo].[SUPPLIERS] ([supplier_id], [supplier_name], [contact_email], [phone], [address]) VALUES (1, N'Công ty TNHH Apple Việt Nam', N'supply@apple.com.vn', N'02839999999', N'Quận 1, TP. Hồ Chí Minh')
INSERT [dbo].[SUPPLIERS] ([supplier_id], [supplier_name], [contact_email], [phone], [address]) VALUES (2, N'Nhà phân phối Synnex FPT', N'contact@synnexfpt.com.vn', N'02473006666', N'Quận Cầu Giấy, Hà Nội')
SET IDENTITY_INSERT [dbo].[SUPPLIERS] OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([user_id], [username], [email], [password_hash], [phone], [created_at]) VALUES (1, N'admin_sys', N'admin@oecs.com', N'e10adc3949ba59abbe56e057f20f883e', N'0901111111', CAST(N'2026-09-29T10:30:19.4633333' AS DateTime2))
INSERT [dbo].[USER] ([user_id], [username], [email], [password_hash], [phone], [created_at]) VALUES (2, N'staff_khang', N'khang.staff@oecs.com', N'e10adc3949ba59abbe56e057f20f883e', N'0902222222', CAST(N'2026-09-29T10:30:19.4633333' AS DateTime2))
INSERT [dbo].[USER] ([user_id], [username], [email], [password_hash], [phone], [created_at]) VALUES (3, N'phat_user', N'phat.user@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0903333333', CAST(N'2026-09-29T10:30:19.4633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[USER] OFF
GO
INSERT [dbo].[USER_ROLES] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[USER_ROLES] ([user_id], [role_id]) VALUES (2, 2)
INSERT [dbo].[USER_ROLES] ([user_id], [role_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[VOUCHER] ON 

INSERT [dbo].[VOUCHER] ([voucher_id], [code], [min_order_value], [valid_from], [valid_to], [discount_type], [discount_value], [max_discount], [usage_limit], [per_user_limit]) VALUES (1, N'OECSHELLO', CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-12-31T00:00:00.0000000' AS DateTime2), N'AMOUNT', CAST(0.00 AS Decimal(18, 2)), NULL, 100, 1)
INSERT [dbo].[VOUCHER] ([voucher_id], [code], [min_order_value], [valid_from], [valid_to], [discount_type], [discount_value], [max_discount], [usage_limit], [per_user_limit]) VALUES (2, N'OECSVIP1M', CAST(25000000.00 AS Decimal(18, 2)), CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-12-31T00:00:00.0000000' AS DateTime2), N'AMOUNT', CAST(0.00 AS Decimal(18, 2)), NULL, 100, 1)
INSERT [dbo].[VOUCHER] ([voucher_id], [code], [min_order_value], [valid_from], [valid_to], [discount_type], [discount_value], [max_discount], [usage_limit], [per_user_limit]) VALUES (3, N'SALE100T?', CAST(1000000.00 AS Decimal(18, 2)), CAST(N'2026-10-02T10:47:00.0000000' AS DateTime2), CAST(N'2026-10-05T10:50:00.0000000' AS DateTime2), N'PERCENT', CAST(90.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), 7, 1)
SET IDENTITY_INSERT [dbo].[VOUCHER] OFF
GO
SET IDENTITY_INSERT [dbo].[VOUCHER_USAGES] ON 

INSERT [dbo].[VOUCHER_USAGES] ([usage_id], [voucher_id], [order_id], [user_id], [used_at]) VALUES (1, 1, 1, 3, CAST(N'2026-09-29T10:30:19.5266667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[VOUCHER_USAGES] OFF
GO
/****** Object:  Index [UQ__CART__B9BE370E8A98443B]    Script Date: 05/10/2026 5:15:04 PM ******/
ALTER TABLE [dbo].[CART] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Order_Expiry]    Script Date: 05/10/2026 5:15:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_Expiry] ON [dbo].[ORDER]
(
	[order_status] ASC,
	[payment_expires_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PaymentTransaction_Code]    Script Date: 05/10/2026 5:15:04 PM ******/
ALTER TABLE [dbo].[PAYMENT_TRANSACTION] ADD  CONSTRAINT [UQ_PaymentTransaction_Code] UNIQUE NONCLUSTERED 
(
	[transaction_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentTransaction_Order]    Script Date: 05/10/2026 5:15:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransaction_Order] ON [dbo].[PAYMENT_TRANSACTION]
(
	[order_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PRODUCT_REVIEWS_ORDER_ITEM]    Script Date: 05/10/2026 5:15:04 PM ******/
ALTER TABLE [dbo].[PRODUCT_REVIEWS] ADD  CONSTRAINT [UQ_PRODUCT_REVIEWS_ORDER_ITEM] UNIQUE NONCLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PRODUCT___843F428F53C73B68]    Script Date: 05/10/2026 5:15:04 PM ******/
ALTER TABLE [dbo].[PRODUCT_SKU] ADD UNIQUE NONCLUSTERED 
(
	[sku_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ROLES__783254B16F413D39]    Script Date: 05/10/2026 5:15:04 PM ******/
ALTER TABLE [dbo].[ROLES] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__STAFF__B9BE370EF2ACA4AD]    Script Date: 05/10/2026 5:15:04 PM ******/
ALTER TABLE [dbo].[STAFF] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER__AB6E6164A4189042]    Script Date: 05/10/2026 5:15:04 PM ******/
ALTER TABLE [dbo].[USER] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER__F3DBC572B6AC430A]    Script Date: 05/10/2026 5:15:04 PM ******/
ALTER TABLE [dbo].[USER] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VOUCHER__357D4CF955AA0D16]    Script Date: 05/10/2026 5:15:04 PM ******/
ALTER TABLE [dbo].[VOUCHER] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADDRESSBOOK] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[CART] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CART_ITEMS] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[COD_SETTLEMENTS] ADD  DEFAULT (getdate()) FOR [settlement_date]
GO
ALTER TABLE [dbo].[COD_SETTLEMENTS] ADD  DEFAULT (N'PENDING') FOR [status]
GO
ALTER TABLE [dbo].[ORDER] ADD  DEFAULT ((0)) FOR [shipping_fee]
GO
ALTER TABLE [dbo].[ORDER] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ORDER_STATUS_HISTORY] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[PAYMENT_REFUND] ADD  CONSTRAINT [DF_PaymentRefund_Status]  DEFAULT ('PENDING') FOR [refund_status]
GO
ALTER TABLE [dbo].[PAYMENT_REFUND] ADD  CONSTRAINT [DF_PaymentRefund_Requested]  DEFAULT (sysutcdatetime()) FOR [requested_at]
GO
ALTER TABLE [dbo].[PAYMENT_TRANSACTION] ADD  CONSTRAINT [DF_PaymentTransaction_Status]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[PAYMENT_TRANSACTION] ADD  CONSTRAINT [DF_PaymentTransaction_Created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PRODUCT_REVIEWS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PRODUCT_SKU] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[PRODUCT_SKU] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PURCHASE_ORDERS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[VOUCHER] ADD  DEFAULT ((0)) FOR [min_order_value]
GO
ALTER TABLE [dbo].[VOUCHER] ADD  DEFAULT ('AMOUNT') FOR [discount_type]
GO
ALTER TABLE [dbo].[VOUCHER] ADD  DEFAULT ((0)) FOR [discount_value]
GO
ALTER TABLE [dbo].[VOUCHER_USAGES] ADD  DEFAULT (getdate()) FOR [used_at]
GO
ALTER TABLE [dbo].[ADDRESSBOOK]  WITH CHECK ADD  CONSTRAINT [FK_AddressBook_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ADDRESSBOOK] CHECK CONSTRAINT [FK_AddressBook_User]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[CART_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[CART] ([cart_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CART_ITEMS] CHECK CONSTRAINT [FK_CartItems_Cart]
GO
ALTER TABLE [dbo].[CART_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_SKU] FOREIGN KEY([sku_id])
REFERENCES [dbo].[PRODUCT_SKU] ([sku_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CART_ITEMS] CHECK CONSTRAINT [FK_CartItems_SKU]
GO
ALTER TABLE [dbo].[CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_Category_Parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[CATEGORY] ([category_id])
GO
ALTER TABLE [dbo].[CATEGORY] CHECK CONSTRAINT [FK_Category_Parent]
GO
ALTER TABLE [dbo].[COD_SETTLEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_CODSettlement_Partner] FOREIGN KEY([partner_id])
REFERENCES [dbo].[SHIPPING_PARTNER] ([partner_id])
GO
ALTER TABLE [dbo].[COD_SETTLEMENTS] CHECK CONSTRAINT [FK_CODSettlement_Partner]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_Order_Address] FOREIGN KEY([address_id])
REFERENCES [dbo].[ADDRESSBOOK] ([address_id])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_Order_Address]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_Order_ShippingPartner] FOREIGN KEY([shipping_partner_id])
REFERENCES [dbo].[SHIPPING_PARTNER] ([partner_id])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_Order_ShippingPartner]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([user_id])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[ORDER] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDER_ITEM] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_SKU] FOREIGN KEY([sku_id])
REFERENCES [dbo].[PRODUCT_SKU] ([sku_id])
GO
ALTER TABLE [dbo].[ORDER_ITEM] CHECK CONSTRAINT [FK_OrderItem_SKU]
GO
ALTER TABLE [dbo].[ORDER_STATUS_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_StatusHistory_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[ORDER] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDER_STATUS_HISTORY] CHECK CONSTRAINT [FK_StatusHistory_Order]
GO
ALTER TABLE [dbo].[PAYMENT_REFUND]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRefund_Transaction] FOREIGN KEY([transaction_id])
REFERENCES [dbo].[PAYMENT_TRANSACTION] ([transaction_id])
GO
ALTER TABLE [dbo].[PAYMENT_REFUND] CHECK CONSTRAINT [FK_PaymentRefund_Transaction]
GO
ALTER TABLE [dbo].[PAYMENT_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransaction_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[ORDER] ([order_id])
GO
ALTER TABLE [dbo].[PAYMENT_TRANSACTION] CHECK CONSTRAINT [FK_PaymentTransaction_Order]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[BRAND] ([brand_id])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[CATEGORY] ([category_id])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[PRODUCT_REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_Review_OrderItem] FOREIGN KEY([order_item_id])
REFERENCES [dbo].[ORDER_ITEM] ([order_item_id])
GO
ALTER TABLE [dbo].[PRODUCT_REVIEWS] CHECK CONSTRAINT [FK_Review_OrderItem]
GO
ALTER TABLE [dbo].[PRODUCT_REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_Review_SKU] FOREIGN KEY([sku_id])
REFERENCES [dbo].[PRODUCT_SKU] ([sku_id])
GO
ALTER TABLE [dbo].[PRODUCT_REVIEWS] CHECK CONSTRAINT [FK_Review_SKU]
GO
ALTER TABLE [dbo].[PRODUCT_REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_Review_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([user_id])
GO
ALTER TABLE [dbo].[PRODUCT_REVIEWS] CHECK CONSTRAINT [FK_Review_User]
GO
ALTER TABLE [dbo].[PRODUCT_SKU]  WITH CHECK ADD  CONSTRAINT [FK_SKU_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT_SKU] CHECK CONSTRAINT [FK_SKU_Product]
GO
ALTER TABLE [dbo].[PRODUCT_SPECIFICATION]  WITH CHECK ADD  CONSTRAINT [FK_Spec_Attribute] FOREIGN KEY([attribute_id])
REFERENCES [dbo].[ATTRIBUTE] ([attribute_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT_SPECIFICATION] CHECK CONSTRAINT [FK_Spec_Attribute]
GO
ALTER TABLE [dbo].[PRODUCT_SPECIFICATION]  WITH CHECK ADD  CONSTRAINT [FK_Spec_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[PRODUCT] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT_SPECIFICATION] CHECK CONSTRAINT [FK_Spec_Product]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_POItems_PO] FOREIGN KEY([po_id])
REFERENCES [dbo].[PURCHASE_ORDERS] ([po_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE_ORDER_ITEMS] CHECK CONSTRAINT [FK_POItems_PO]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_POItems_SKU] FOREIGN KEY([sku_id])
REFERENCES [dbo].[PRODUCT_SKU] ([sku_id])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER_ITEMS] CHECK CONSTRAINT [FK_POItems_SKU]
GO
ALTER TABLE [dbo].[PURCHASE_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_PO_Supplier] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[SUPPLIERS] ([supplier_id])
GO
ALTER TABLE [dbo].[PURCHASE_ORDERS] CHECK CONSTRAINT [FK_PO_Supplier]
GO
ALTER TABLE [dbo].[REVIEW_IMAGES]  WITH CHECK ADD  CONSTRAINT [FK_REVIEW_IMAGES_REVIEW] FOREIGN KEY([review_id])
REFERENCES [dbo].[PRODUCT_REVIEWS] ([review_id])
GO
ALTER TABLE [dbo].[REVIEW_IMAGES] CHECK CONSTRAINT [FK_REVIEW_IMAGES_REVIEW]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_Staff_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_Staff_User]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[ROLES] ([role_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [FK_UserRoles_Role]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [FK_UserRoles_User]
GO
ALTER TABLE [dbo].[VOUCHER_USAGES]  WITH CHECK ADD  CONSTRAINT [FK_VoucherUsage_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[ORDER] ([order_id])
GO
ALTER TABLE [dbo].[VOUCHER_USAGES] CHECK CONSTRAINT [FK_VoucherUsage_Order]
GO
ALTER TABLE [dbo].[VOUCHER_USAGES]  WITH CHECK ADD  CONSTRAINT [FK_VoucherUsage_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([user_id])
GO
ALTER TABLE [dbo].[VOUCHER_USAGES] CHECK CONSTRAINT [FK_VoucherUsage_User]
GO
ALTER TABLE [dbo].[VOUCHER_USAGES]  WITH CHECK ADD  CONSTRAINT [FK_VoucherUsage_Voucher] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[VOUCHER] ([voucher_id])
GO
ALTER TABLE [dbo].[VOUCHER_USAGES] CHECK CONSTRAINT [FK_VoucherUsage_Voucher]
GO
ALTER TABLE [dbo].[PAYMENT_REFUND]  WITH CHECK ADD  CONSTRAINT [CK_PaymentRefund_Amount] CHECK  (([refund_amount]>(0)))
GO
ALTER TABLE [dbo].[PAYMENT_REFUND] CHECK CONSTRAINT [CK_PaymentRefund_Amount]
GO
ALTER TABLE [dbo].[PAYMENT_REFUND]  WITH CHECK ADD  CONSTRAINT [CK_PaymentRefund_Status] CHECK  (([refund_status]='FAILED' OR [refund_status]='SUCCESS' OR [refund_status]='PROCESSING' OR [refund_status]='PENDING'))
GO
ALTER TABLE [dbo].[PAYMENT_REFUND] CHECK CONSTRAINT [CK_PaymentRefund_Status]
GO
ALTER TABLE [dbo].[PAYMENT_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [CK_PaymentTransaction_Amount] CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[PAYMENT_TRANSACTION] CHECK CONSTRAINT [CK_PaymentTransaction_Amount]
GO
ALTER TABLE [dbo].[PAYMENT_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [CK_PaymentTransaction_Method] CHECK  (([payment_method]='MOMO' OR [payment_method]='VNPAY'))
GO
ALTER TABLE [dbo].[PAYMENT_TRANSACTION] CHECK CONSTRAINT [CK_PaymentTransaction_Method]
GO
ALTER TABLE [dbo].[PAYMENT_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [CK_PaymentTransaction_Status] CHECK  (([status]='EXPIRED' OR [status]='CANCELLED' OR [status]='FAILED' OR [status]='SUCCESS' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[PAYMENT_TRANSACTION] CHECK CONSTRAINT [CK_PaymentTransaction_Status]
GO
ALTER TABLE [dbo].[PRODUCT_REVIEWS]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[PRODUCT_REVIEWS]  WITH CHECK ADD  CONSTRAINT [CK_PRODUCT_REVIEWS_RATING] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[PRODUCT_REVIEWS] CHECK CONSTRAINT [CK_PRODUCT_REVIEWS_RATING]
GO
USE [master]
GO
